# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Adetunji Emmanuel\Downloads\Explore\#44 Predict_project_climate_change_classififcation\classification-predict-streamlit-template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
